<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>aboba</title>
	<link rel="stylesheet" type="text/css" href="~/css/Index.css"/>
</head>

<body style="margin: 0 0 auto 0">
<div>
	@RenderBody()
</div>
</body>
</html>